numpy==1.26.3
scipy==1.11.4
pandas==2.2.0
matplotlib==3.8.2
pillow==10.2.0
tqdm==4.66.1
jax==0.4.23
jaxlib==0.4.23
flax==0.7.5
optax==0.1.8
chex==0.1.85
lineax==0.0.4
jax-tqdm==0.1.2
numpyro==0.13.2
ott-jax==0.4.5
POT==0.9.3
torch==2.1.2
torchvision==0.16.2
scikit-learn>=1.3
datasets>=2.18
